body {
  margin: 0;
  margin-bottom: 53px;
}

.header {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  text-align: center;
  margin-top: : 0px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
}

h3 {
  margin-top: 0px;
  padding: 20px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul.clearfix {
  padding: 0;
}

.nav-wrapper {
  width: 100%;
  background-color: green;
  text-align: center;
  border-radius: 5px;
}

.nav-menu {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.nav-menu a {
  text-decoration: none;
  font-size: 1.1em;
  color: black;
}

.nav-menu ul {
  padding: 0;
  margin: 0;
}

.nav-menu > ul > li {
  display: inline-block;
  list-style-type: none;
  width: 24%;
  padding: 18px 0;
}

.nav-menu ul li:hover > ul {
   display: block;
}

.sub-menu {
  position: absolute;
  display: none;
  background-color: green;
  width: 24%;
  top: 52px;  /* height of the menu */
}

.sub-menu li {
  display: block;
  list-style-type: none;
  padding: 10px;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}

.image-wrapper {
  margin: 20px;
  text-align: center;
}

.image-wrapper img {
  border-radius: 50%;
}

.about-me-text {
  text-align: center;
}

#date {
  text-align: center;
  font-size: 0.75em;
  padding-top: 0px;
}

p {
  text-align: justify;
  padding-top: 10px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.footer a {
  display: inline-block;
  width: 10%;
  text-align: center;
  text-decoration: none;
  font-size: 1.15em;
  color: black;
}
